<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home Construction - Customer</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
    <!--/*@thymesVar id="project" typeKey="com.homeconstruction.project.query.ProjectProjection"*/-->
    <!--/*@thymesVar id="home" typeKey="com.homeconstruction.home.query.HomeProjection"*/-->
    <!--/*@thymesVar id="homeType" typeKey="com.homeconstruction.home.query.HomeTypeProjection"*/-->
    <h1 th:text="${project.name}"/>
    <div>
        <span><b>Minimaal aantal kopers bereikt:</b></span>
        <span th:text="${project.minimumAmountOfBuyersTargetReached}"/>
    </div>
    <div>
        <span><b>Minimaal aantal kopers percentage:</b></span>
        <span th:text="${project.minimumAmountOfBuyersReachedPercentage}"/>
    </div>
    <div>
        <span><b>Minimaal aantal kopers bereikt op:</b></span>
        <span th:text="${project.minimumAmountOfBuyersTargetReachedDate}"/>
    </div>
    <div>
        <span><b>Bouw project gestart op:</b></span>
        <span th:text="${project.constructionOnSiteStartDate}"/>
    </div>
    <div>
        <span><b>Huistype:</b></span>
        <span th:text="${homeType.typeKey}"/>
    </div>
    <div>
        <span><b>Huistype omschrijving:</b></span>
        <span th:text="${homeType.description}"/>
    </div>
    <div>
        <span><b>Bouwnummer:</b></span>
        <span th:text="${home.projectNumber}"/>
    </div>
    <div>
        <span><b>Perceeloppervlak (m2):</b></span>
        <span th:text="${home.lotSize}"/>
    </div>
    <div>
        <span><b>Gebruiksoppervlak (m2):</b></span>
        <span th:text="${home.areaOfUse}"/>
    </div>
    <div>
        <span><b>Huis prijs:</b></span>
        <span th:text="${home.price}"/>
    </div>
    </body>
</html>